@import "../../../scss/index.scss";

.modal-publication {
  height: 520px !important;

  .ui.grid {
    margin: 0;
    height: 100%;
  }

  &__left {
    background-position: center !important;
    background-size: absolute !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    max-height: 520px !important;
    padding: 0px !important;

    &__picture {
      width: 100% !important;
      height: 100% !important;
    }

    &__video {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__right {
    padding: 0 !important;
    width: 100%;
  }
}
