@import "../../../scss/index.scss";

.feed {
  padding-top: 50px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.cardProduct {
  float: left;
  width: 180px !important;
  height: 220px !important;
  border: 1px solid rgb(84, 84, 84);
  border-radius: 5px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0px 0px 10px #cccccc;
  font-weight: bold;
  font-size: 12px;
  margin: 20px !important;

  &:hover {
    opacity: 0.5;
    background-color: #4244f0;
    color: #fff;
    cursor: pointer;
    transform: scale(1.1);
    transform: rotateX("angel");
  }
}

.cardTitle {
  padding-top: 4px;
  padding-bottom: 4px;
}

.cardImage {
  margin-top: 30px;
  margin: 8%;
  width: 150px;
  height: 100px;
  border-radius: 5px;
}
