@import "../../../scss/index.scss";

.filters {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 5px 0px;
  border: 1px solid $border-grey;
  max-height: 450px !important;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  h3 {
    padding: 15px !important;
    margin: 0;
    background-color: $background-light !important;
  }

  &__user {
    margin-top: 0px;
    color: $font-dark;
    padding: 5px 8px !important;
    text-align: left !important;

    &:hover {
      cursor: pointer;
      color: $font-dark;
      background-color: $background-light !important;
      font-weight: bold;
    }

    img {
      margin-right: 15px !important;

      &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }

      &:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 2px 2px $action;
        -webkit-box-shadow: 0px 0px 2px 2px $action;
        transform: rotate(360deg);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }
}
